@using Microsoft.AspNetCore.Identity
@inject SignInManager<CarInsClaimsUser> SignInManager
@inject UserManager<CarInsClaimsUser> UserManager

<link href="~/css/button.css" rel="stylesheet" type="text/css">
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
                <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>*@
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><a class="effect1" style="color: white">Logout</a></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="effect1" style="color: white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>