<link href="~/css/home.css" rel="stylesheet" type="text/css">
<link href="~/css/button.css" rel="stylesheet" type="text/css">

<h1>You have a claim to your car?</h1>

<h4 style="padding-top: 260px">Please enter the required information in the following form and our specialists will process it!</h4>

@*<a class="btn btn-dark space" asp-controller="Claim" asp-action="Create">Form</a>*@

<div style="padding-left: -50px; padding-top: 120px;">
    <a class="effect1" asp-controller="Claim" asp-action="Create">
        Fill the form!
        <span class="bg"></span>
    </a>
</div>
