@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="~/css/login.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-5" style="opacity:0.90">
        <div class="card-body p-5 amber-text">
            <div style="width: 60%; margin-left: 225px; margin-top: 50px;">
                <div>
                    <section>
                        <form id="account" method="post">
                            <h3 style="margin-left: 38%; color: steelblue">Log In!</h3>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="Input.UserName" class="form-control"
                                       placeholder="Username" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control"
                                       placeholder="Access code" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary border-0" style="background-color: steelblue; color: white; margin-left: 40%">Log in</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-md-6 col-md-offset-2">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
